.devenv
.direnv
result
result-*
target
*.img
.pre-commit-config.yaml
devenv.local.nix
canvas/node_modules
canvas/dist
apm_modules/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
